#nanotation_lightbox_frame {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(200,200,200,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  /* transition: opacity 1s linear; */
}

#nanotation_lightbox {
  width: 580px;
  min-height: 350px;
  border-radius: 2px;
  background-color: #fff;
  border: 1px #fff solid;
  z-index: 1001;
  padding: 3rem;
  box-shadow: 2px 2px 15px #ccc;

  font-family: Georgia, serif;
}

#nanotation_lightbox blockquote{
  display: block;
  background-color: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;

  /*Font*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;

  /*Borders */
  border-left: 15px solid #c76c0c;
  border-right: 2px solid #c76c0c;

  /*Box Shadow */
  box-shadow: 2px 2px 15px #ccc;
}

#nanotation_lightbox blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/

  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;

  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

#nanotation_lightbox blockquote::after{
  /*Reset to make sure*/
  content: "";
}

#nanotation_lightbox input, #nanotation_lightbox button {
  font-size: 20pt;
  display: block;
  margin: 1em auto;
}

#nanotation_lightbox input  {
  width: 95%;
  border: 1px solid #c76c0c;
}

#nanotation_lightbox button {
  background-color: #c76c0c;
  color: white;
  box-shadow: 2px 2px 15px #ccc;
  border-radius: 5px;
  padding: 0.2em 0.6em;
  cursor: pointer;
}

.nanotation-ref {
  cursor: pointer;
}

.nanotation-ref.has-focus {
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.65);
}

.nanotation-details {
  position: relative;
  display: inline;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.nanotation-indicator::-webkit-details-marker {
  display: none;
}

.nanotation-indicator::-moz-details-marker,
.nanotation-indicator::-ms-details-marker,
.nanotation-indicator::-o-details-marker,
.nanotation-indicator::details-marker {
  display: none;
}

.nanotation-tooltip {
  position: absolute;
  top: -3.25em;
  right: 0;
}

.nanotation-tooltip-content {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 0.5rem;
  margin: 0 auto;
  display: table;
}
