#nanotation_lightbox_frame {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(200,200,200,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  /* transition: opacity 1s linear; */
}

#nanotation_lightbox {
  width: 580px;
  min-height: 350px;
  border-radius: 2px;
  background-color: #fff;
  border: 1px #fff solid;
  z-index: 1001;
  padding: 3rem;
  box-shadow: 2px 2px 15px #ccc;

  font-family: Georgia, serif;
}

  #nanotation_lightbox blockquote{
    display: block;
    background-color: #fff;
    padding: 15px 20px 15px 45px;
    margin: 0 0 20px;
    position: relative;

    /*Font*/
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 1.2;
    color: #666;
    text-align: justify;

    /*Borders */
    border-left: 15px solid #c76c0c;
    border-right: 2px solid #c76c0c;

    /*Box Shadow */
    box-shadow: 2px 2px 15px #ccc;
  }

  #nanotation_lightbox blockquote::before{
    content: "\201C"; /*Unicode for Left Double Quote*/

    /*Font*/
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color: #999;

    /*Positioning*/
    position: absolute;
    left: 10px;
    top:5px;
  }

  #nanotation_lightbox blockquote::after{
    /*Reset to make sure*/
    content: "";
  }

  #nanotation_lightbox input, #nanotation_lightbox button {
    font-size: 20pt;
    display: block;
    margin: 1em auto;
  }

  #nanotation_lightbox input  {
    width: 95%;
    border: 1px solid #c76c0c;
  }

  #nanotation_lightbox button {
    background-color: #c76c0c;
    color: white;
    box-shadow: 2px 2px 15px #ccc;
    border-radius: 5px;
    padding: 0.2em 0.6em;
    cursor: pointer;
  }
